@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f9a826;
}

@media (prefers-color-scheme: dark) {
  :root {
   --background: #ffffff;
  --foreground: #171717;
  --primary: #f9a826;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 5px;
}
